<!DOCTYPE html>
<html>
<head>
	<title> Varshu Birthday!!</title>
	<link rel="stylesheet" type="text/css" href="../css/birthday.css">
	</head>
	<body class="bday-body">
		<div class="b-bday">
			<!-- <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/994934_541228039286162_671747707_n.jpg?oh=5e542bd178bf3026e0efeedd42a8704e&oe=5525D0A3&__gda__=1429343258_e68bfc5c354bab4dec4d6c42fadb7ab5" width="300px" height="250px"> -->
			<p><h1  class="v-bday">Hoorey!! Here Comes The Special Day Again!!!!<p></h1>
			<p><h2>Here comes yet another year of filling our life with so much of laughter and cheer....</h2></p>
			<p><h2>Thanks a ton baby...</h2></p>
			<p><h2>Happy Birthday Varha!!!!!</h2></p>
		</div>
	</body>
</html>