<!DOCTYPE html>
<html>
	<head>
		<title>
			Bootsrap1
		</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body class="web-body" style="background: blue;">

	
	<h1 class="text-center" style = "background: purple;font-size: 73px; color:white; margin: 0px;">My Website!</h1>
	 

     <div class="container" style="background:white;">
	<div class="row">
     <div class="col-md-3">Home<hr>
     <li class="list-unstyled">About</li><hr>
     <li class="list-unstyled">Interesting Things</li><hr>
     <li class="list-unstyled">Boring Things</li><hr>
     <li class="list-unstyled">Contact</li><hr>
     <li class="list-unstyled">adhdiadh hdiai uh ohdoa <br>iuhabsjah huish sdohdsd<br> dishdosid idsad asidd <br>idisda ssid dhadshdsaahdo.</li>
     
     </div>
     <div class="container" style="background:white;"> 
     <h2 class="text-center">Lorem Ipsum</h2>
     <p class="left">guiyidhkdiudodhdoh
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueio
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid
     guiyidhkdiudodhdoh
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueio
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid</p>
     <p/>
     <p class="text-left">
     	dduiyugduiwyi  uyuiwuiiwyi uuuyyu yyeuweuiwyei uyuieywi uyuiwuiyw ywuiehwuiy  uyuiwe uwwiuw uy ueuwye uyiuwyiew uuie eeyweywe eiweyooiheio .dduiyugduiwyi  uyuiwuiiwyi uuuyyu yyeuweuiwyei uyuieywi uyuiwuiyw ywuiehwuiy  uyuiwe uwwiuw uy ueuwye uyiuwyiew uuie eeyweywe eiweyooiheio 
     </p>
     </div>
     
       <div class="container" align="center" style="
        background: grey;
        ">@foobar inc</div>
	</body>
</html>