<!DOCTYPE html>
<html>
	<head>
		<title>
			Bootsrap1
		</title>
		<link rel="stylesheet" type="text/css" href="../views/bootstrap.js">
        <style type="text/css"> 
            .ulstyle li{
                padding-bottom: 15px;
                padding-top: 15px;
                border-bottom: 1px dotted blue;
            }
            .bb-footer{
                background: red;
                padding:10px;
            }
        </style>
	</head>
	<body class="web-body" style="background: blue;">
        <br/>
        <br/>
        <div class="container" style="background:white; border-radius:10px;">
        <div class="row" style = "background: purple;font-size: 73px;color: white;padding: 0px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
            <div class="col-md-3 text-right glyphicon glyphicon-lock" style="margin-top: 15px;color: green;"></div>
            <div class="col-md-9">My Website!</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <br/>
                <ul class="ulstyle list-unstyled">
                   <li>Home</li>
                   <li>About</li>
                   <li>Interesting Things</li>
                    <li>Boring Things</li>
                    <li>Contact</li>
                </ul>
                <p>dhdiadh hdiai uh ohdoa <br>iuhabsjah huish sdohdsd<br> dishdosid idsad asidd <br>idisda ssid dhadshdsaahdo.</p>
            </div>
            <div class="col-md-9">
                <br/>
                <br/>
                <h1>Lorem Ipsum</h1>
                <p><strong>guiyidhkdiudodhdoh  jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueio jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid guiyidhkdiudodhdoh jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw hwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueiojbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid</strong></p>
                <p><strong>guiyidhkdiudodhdoh  jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueio jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid guiyidhkdiudodhdoh jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw hwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueiojbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid</strong></p>
            </div>
        </div>
        <div class="row text-center bb-footer">
            &copy; footerBar.inc
        </div>
<!--      <div class="container" >
    <div class="row">
     <div class="col-md-3">Home<hr>
     <li class="list-unstyled">About</li><hr>
     <li class="list-unstyled">Interesting Things</li><hr>
     <li class="list-unstyled">Boring Things</li><hr>
     <li class="list-unstyled">Contact</li><hr>
     <li class="list-unstyled">adhdiadh hdiai uh ohdoa <br>iuhabsjah huish sdohdsd<br> dishdosid idsad asidd <br>idisda ssid dhadshdsaahdo.</li>
     
     </div>
     <div class="container" style="background:white;"> 
     <h2 class="text-center">Lorem Ipsum</h2>
     <p class="left">guiyidhkdiudodhdoh
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueio
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid
     guiyidhkdiudodhdoh
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid.guiyidhkdiudodhdoh kjiowodw owqeoqwiwueio
     jbjhduijkfuiqdhqdhb huhdbjdh uhuidhdhdwo hdhihhdwqhhwwduwdhwhd hdiwq  iuhdhidyw ywidhwiohd uhddow uhduwdw uhuwwuwqio duid</p>
     <p/>
     <p class="text-left">
        dduiyugduiwyi  uyuiwuiiwyi uuuyyu yyeuweuiwyei uyuieywi uyuiwuiyw ywuiehwuiy  uyuiwe uwwiuw uy ueuwye uyiuwyiew uuie eeyweywe eiweyooiheio .dduiyugduiwyi  uyuiwuiiwyi uuuyyu yyeuweuiwyei uyuieywi uyuiwuiyw ywuiehwuiy  uyuiwe uwwiuw uy ueuwye uyiuwyiew uuie eeyweywe eiweyooiheio 
     </p>
     </div> -->
        </div>

     
       <!-- <div class="container" align="center" style="
        background: grey;
        ">@foobar inc</div> -->
	</body>
</html>