<!DOCTYPE html>
<html>
	<head >
		<title>Emailform</title>
		<link rel="stylesheet" type="text/css" href="emailform.css">
		</head>

		<body class="email-body">
		<div class="email-form">
		
		<form>


			<p >
			<h1 style="color:blue" font-size:"small">SEND AN EMAIL</h1>
			</p>
			<p style="color:blue">
		    <label class="v-name">Name</label>
		    <input type="text" style="color: #FFFFFF; background-color: #72A4D2; border-radius:9px;" placeholder="Vidya Srini">
			</p>

			<p style="color:blue">
		    <label class="v-email">Email</label>
		    <input type="text" style="color: #FFFFFF; background-color: #72A4D2; border-radius:9px;" placeholder="Enter you E-mail Address"> 
			</p>

			<p style="color:blue" class ="v-message">
		    Message
		    <textarea placeholder="Whats on your mind?"></textarea> 
		    </p>

            <input type="button" value="sent message" id="button_a">
	         
	        </div>

	        </form>

         </body>
	
    </html>