<!DOCTYPE html>
<html>
	<head>
		<title> All html tags </title>
     <body>
         <h1><marquee> All HTML TAGS</marquee></h1>
     	 <p><xmp> <!DOCTYPE html> means "this page is written in HTML5"</xmp></p>

     	 <p>The heading tags are <xmp><h1>,<h2>,<h3>,<h4>,<h5>,<h6> </xmp></p>
     	 <h1> The big one </h1>
     	 <h2> The second heading tag</h2>
     	 <h3> The third heading tag</h3>
     	 <h4>The fourth heading tag</h4>
     	 <h5> The fifth heading tag</h5>
     	 <h6> the sixth heading tag</h6>
     	 <p>

     	 <p>Ordered list and unordered list</p>
     	 <ol>
     	    <li> Ordered list 1</li>
     	    <li> Ordered list 2</li>
     	    <li> Ordered list 3</li>
     	    <li> Ordered list 4</li>
     	    <li> Ordrred list 5</li>
     	    </ol>
     	  <ul>
     	  	 <li> UnOrdered list 1</li>
     	    <li> UnOrdered list 2</li>
     	    <li> UnOrdered list 3</li>
     	    <li> UnOrdered list 4</li>
     	    <li> UnOrdrred list 5</li>
     	  </ul>  
     	  <p>You can use ol and ul in between list and youu can use it in table also.</p>

     	  <p> Table tags</p>
     	  <table>
     	  	<tr>
     	  		<td>A</td>
     	  		<td>B</td>
     	  		<td>C</td>
     	  	</tr>
     	  	<tr>
     	  		<td>D</td>
     	  		<td>E</td>
     	  		<td>F</td>
     	  	</tr>
     	  	<tr>
     	  		<td>G</td>
     	  		<td>H</td>
     	  		<td>I</td>
     	  	</tr>
     	 </table>
     	 <p><xmp><strong> and <bold> tags</xmp></bold></p>
     	 <strong>This test in strong tag.</strong>
     	 <b>This text is in bold tag.</b>

     	 <p><em>This text is in italic</em></p>
     	 <p><xmp><div>and <span></xmp>tag has been the principle tool used to put pages together. This is a block element.</br> span is an inline element.</p>

     	 <p>Add an image</p>
     	 <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQMAuTAVlEIQPM2Pysz2t3nJdYlNTF9bUaiCcNksXzBGfK6WfRihw"/>
     	 <p>Add link</p>
     	 <a href="http:www.google.com">google</a>
     	 <p> If you want to open it in new tab use "_blank"</p>
     	 <p>You can add image itself as a link</p>

     	 <p>The form element is use to make forms</p>
     	 <p>input element is the principal element that collects information entered into a form</p>
     	 <p><xmp><bdo></xmp>is the directional tag which will write from right to left</p>
     	 <bdo dir="rtl"> Looking forward to learn CSS </bdo>
     	 <p><xmp><radio></xmp> button is using to select single option.

     	 <form action="">
            <input type="radio" name="gen" value="male">Male<br>
            <input type="radio" name="gen" value="female">Female
         </form>

         <p><xmp><sub>and<sup></xmp>tags</p>
         <p><sub>HTML </sub>is <sup>interesting</sup></p>

         <p><xmp><progress></progress></xmp>tag represents the progress of a task</p>
         <progress value="40" max="100"</progress>








     </body>


	</head>
</html>