<!DOCTYPE html>
<html>
	<head>
		<title>
			jspractise5
		</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<h1>Js statements</h1>


		<p>Statements are separated by semicolons.</p>

		<p>The variables x, y, and z are assigned the values 5, 6, and 11:</p>

		<p id="demo"></p>

		<h1>Javascript Numbers</h1>
		<p>Number can be written with or without decimals.</p>

		<h1>Javascript Strings</h1>

		<p>Strings can be written with double or single quotes.</p>

		<p id="demo"></p>
		<p id="vidya"></p>
		<p id="vid"></p>

		<h1>Javascript Expressions</h1>
		<p>Expressions compute to values.</p>
		<p id="varsha"></p>

		<script>
         var x = 5;
         var y = 6;
         var z = x+y;
         document.getElementById("demo").innerHTML = z;
         

          document.getElementById("vidya").innerHTML = 11;

          document.getElementById("vid").innerHTML = 'John Doe';

          document.getElementById("varsha").innerHTML = 5 * 10;
               

         </script>

        
	</body>
	</html>