<!DOCTYPE html>
<html>
	<head>
		<title>
			jspractise6
		</title>

		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<h1>The var keyword creates a variable</h1>
		<h1>javascript Variables.</h1>
		<h1>Assigning Values</h1>
		<h1>Javascript Operators</h1>
		<h1><b>js comment</b> are not executed</h1>

		<p id="demo"></p>
		<p id="varshu"></p>
		<p id="ashok"></p>
		<p id="a"></p>
		<p id="s"></p>

		<script>
          //var x = 5 + 6;
          //var y = x * 10;
          //document.getElementById("demo").innerHTML = y;

         // var x;
          //x = 6;
          //document.getElementById("varshu").innerHTML = x;

         // var x = 5;
         // var y = 6;
          //document.getElementById("demo").innerHTML = x + y;

          //document.getElementById("demo").innerHTML = (5 + 6) * 10;

      





		</script>
	</body>
	</html>