<!DOCTYPE html>
<html>
	<head>
		<title>
			jspractise6
		</title>

		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<p>In HTML js statements are commands to the browser</p>

		<p id="vid"></p>

		<p>Multiple stattements on one line is allowed.</p>
		<p id="vid1"></p>

		<h1>My web page</h1>
		<p id="myPar">This is a paragraph</p>
		<div id="myDiv">This is a div.</div>

		<div id="div2">This is another div</div>

		<p>
		<button type="button" onclick="myFunction()">Try it</button>

		<script>
          //document.getElementById("vid").innerHTML ="Hello vidya";
          //window.alert('Hello vidya');

          //a = 1; b = 2; c = a + b;
          //document.getElementById('vid1').innerHTML = c;
         
           function myFunction() {
           	document.getElementById("myPar").innerHTML = "Hello Varshu.";

           	document.getElementById("myDiv").innerHTML = "How are you?";

           	document.getElementById("div2").innerHTML= "how you doing?";
           }
		</script>
	</body>