<!DOCTYPE html>
<html>
	<head>
		<title>
			js example
		</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
        <div>
            <form class="text-center">
                <br/>
                <input type="text" placeholder="user name" id="username"/>
                <input type="password" placeholder="password" id="password"/>
                <input type="button" value="Log in" onclick="fnLogin();"/>
            </form>
        </div>
        <br/>
        <div id="samplediv">sample div text</div>
        <div class="text-center"><div class="btn btn-primary text-center" onclick='fnGetCurrentTime();'>get current time
        </div>
        </div>
        <div onclick="fnTextSend();" > get text</div>
        <script type="text/javascript" src="../js/prog1.js"></script>
	</body>
</html>