<!DOCTYPE html>
<html>
	<head>
		<title>Costcoweb</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../views/mynewapp.css">
		<style type="text/css">
		</style>
	</head>
	<body>

		<div id="top-navigation-wrap">
		<div class="c1000">
		
			<li>
				<a href="http://www.costco.com/TopCategories?langId=-1&storeId=10301&catalogId=10701">SHOP</a>
			</li>
			<li>
				<a href="http://www2.costco.com/Browse/BDLanding.aspx?lang=en-US&Business_Delivery">Business Delivery</a>
			</li>
			<li>
				<a href="http://www.costco.com/Pharmacy/home-delivery?storeId=10301&catalogId=10701&langId=-1">Pharmacy</a>
			</li>
			<li>
				<a href="http://www.costco.com/services.html">Services</a>
			</li>
			<li>
				<a href="http://www.costcophotocenter.com/Home">Photo</a>
			</li>
			<li>
				<a href="http://www.costcotravel.com/">Travel</a>
			</li>
			</ul>

		     <div id="country-select" class>

			       <a class="dropdown-link" href="#">
			       <img class="flag" src="http://www.costco.com/wcsstore/CostcoGLOBALSAS/images/flags/US.png">
			       </a>
		     <ul class="dropdown dropdown-list" style="visibility: hidden">
			     <li>
			     	<a href="http://www.costco.com">
			     	   <img class="flag" src="http://www.costco.com/wcsstore/CostcoGLOBALSAS/images/flags/US.png" alt="United States"></a>
			     </li>
			     <li>
			     	<a href="http://www.costco.ca">
			     	   <img class="flag" src="http://www.costco.com/wcsstore/CostcoGLOBALSAS/images/flags/CA.png" alt="Canada"></a>
			     </li>
			     <li>
			     	<a href="http://www.costco.uk">
			     	   <img class="flag" src="http://www.costco.com/wcsstore/CostcoGLOBALSAS/images/flags/UK.png" alt="United Kingdom"></a>
			     </li>
			     <li>
			     	<a href="http://www.costco.mx">
			     	   <img class="flag" src="http://www.costco.com/wcsstore/CostcoGLOBALSAS/images/flags/MX.png" alt="Mexico"></a>
			     </li>
			 </ul>

			<!--<div id="contry-select"></div>
			</div>
			</div>
			<div id="header-wrap"></div>
			<a href="javascript:void(0);" id="main-content" class="secondarySkipToMainContent">Main Content</a>
			<div id="main-content-wrapper">
			<div class="homepage-hero">
			<!--BEGIN ScrollingEspot.jsp
			<div class="genericEspot" id="WC-ContentAreaESpot_div_1_Home_1">
			<div class="caption" style="display-none" id="WC_ContentAreaEspot_div_2_Home_1">[Home_1]</div>
            <div class"carousel js" tabindex="0">
            <div class="carousel-wrap" style="overflow:hidden; position: relative; height:404px;">

            <ul style="position: absolute; top: 0px; display: block; width:5610px; left-0px;
            "></ul>
            <li style="height: 404px;">
            	<a id="WC_ContentAreaESpot_lins_3_1" class="ClickInfoLink" href="http://www.costco.com/.product.100140664.html?langId=-1">
            	<span
            	class="ClickInfoUrl" style="display:none;http://www.costco.com/webapp/wcs/stores/servlet/ClickInfo?evtype=CpgnClick&amp;mpe_id=-1011&amp;intv_id=68501&amp;storeId=10301&amp;catalogId=10701&amp;langId=-1&amp;URL=%2fwcsstore%2fhtml%2fblank.html"></span>
            	<img src="http://www.costco.com/wcsstore/CostcoUSBCCatalogAssetStore/homepage/r-hero-150121-superbowl-packages.jpg" alt="Footballs Ultimate game. February 1st, 2015. Ticket &amp; Hotel Packages. Click here"></a>
            </li>

            <li style="height: 404px;">
            	<a id="WC_ContentAreaEspot_Links_3_2" class="ClickInfoLink" href="http://www.costco.com/gear-up-for-game-time.html?langId=-1">
            	<span class="ClickInfoUrl" style="display:none; http://www.costco.com/webapp/wcs/stores/servlet/ClickInfo?evtype=CpgnClick&amp;mpe_id=-1011&amp;intv_id=68501&amp;storeId=10301&amp;catalogId=10701&amp;langId=-1&amp;URL=%2fwcsstore%2fhtml%2fblank.html"></span>
                <img src="http://www.costco.com/wcsstore/CostcoUSBCCatalogAssetStore/homepage/r-hero-150112-super-bowl.jpg"></a>

            </li>
            </ul>
            </div>

            <input type="button" class="carousel-control next carousel-next">
            <input type="button" class="carousel-control previous carousel-previous">
            <div class="center-wrap">
            <div class="carousel-pagination">
            <p>
            <a role="button" class>
            <span>1</span>
            </a>
            <a role="button" class>
            <span>2</span>
            </a>
            </p>
            </div>



			<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
			<script type="text/javascript">

			$(window).load(function(){
				try{
					$("#WC-ContentAreaESpot_div_1_Home_1 .carousel").carousel({

						    dispItems:1,
						    autoSlide: true,
						    autoSlideInterval: 9000,
						    pagination: true});
				}catch(err){
					console.log("ScrollingEspot error: " + err);
					}
				
				
			});
			</script>
			</div>
			<!--END ScrollingEspot.jsp-->

         

	</body>
</html>