<!DOCTYPE html>
<html>
	<head>
	<title>Simple Form</title>
	<link rel="stylesheet" type="text/css" href="simpleform.css">
	</head>
	<body class="v-body">
		<div class="v-simpleform">
			<form>
				<p>
					<label class="v-username">Username</label>
					<input  type="text" placeholder="Username"/>
				</p>
				<p>
					<label class="v-username">Password</label>
					<input type="Password" placeholder="Password"/>
				</p>
				<p>
					<label class="v-username">Enter E-mail</label>
					<input type="Text" placeholder="E-mail"/>
				</p>
				<p>
					<label class="v-username">PhoneNumber</label>
					<input type="Number" placeholder="PhoneNumber"/>
				</p>
				<p>
					
			      <input class="v-button" type="button" value="Submit">
				</p>
			</form>
		</div>


	</body>
</html>