<!DOCTYPE html>
<html>
  <head><title>Table7</title></head>
    
    <table <table border="1" cellpadding="0" cellspacing="0" width="300px">
    <!DOCTYPE html>
    <body>

      <tr>
        <th align="center">A</th>
        <th align="center">B</th>
        <th align="center">C</th>
        <th align="center">D</th>
        <th align="center">E</th>
        <th align="center">F</th>
        <th align="center">G</th>
        <th align="center">H</th>
      </tr>
      <tr>
        <td colspan="8"><br><center>I</center></b> 
          <div align="right">
            <p>Dynamic--></p>
          </div>
          
            <table border="1" style="width:40%" align="center">
              <tr>
                <th align="center"><br><br>J<br><br></th>
                <th align="center"><br><br>K<br><br></th>  
              </tr>
              <tr>
               <th align="center"><br><br>L<br><br></th>
                <th align="center"><br><br>M<br><br></th>
              </tr>
            </table>    
          </center> 
            <br>
          <div align="left">
            <p><--Dynamic</p>
          </div>
          <center>
            <table <table border="1" cellpadding="0" cellspacing="0" width="300px">
              <tr>
                <th align="center">N</th>
                <th align="center">O</th>
                <th align="center">P</th>
                <th align="center">Q</th>
                <th align="center">R</th>
                <th align="center">S</th>
                <th align="center">T</th>
                <th align="center">U</th>
              </tr> 
            </table>  
          </center>    
        </td>
      </tr>
    </table>
  </body>
  </html>