<!DOCTYPE html>
<html>
	<head>
		<title>
			www.behealthybehappy.com
		</title>
		<link rel="stylesheet" type="text/css" href="web.css">
	</head>
	<body class="web-body">
	<div class="web-div">

	    <h1>Welcome To Healthy Foods!!!</h1>
	    <marquee class="web-mar">Be healthy!! Be happy!!</marquee>
		<h2>Food Groups!</h2>
		<h3>Welcome to the five food groups</h3>
		<table class="web-table">
			<tr>
				<td>
				     <ol>
				        <li><h4>Fruits</h4></li>
				          <p>What fruits are in the fruit group?</p>
				         
				            <ul>
				          	<li>Commonly Eaten Fruits</li>
				          	<li>Berries</li>
				          	<li>Melons</li>
				          	<li>Mixed Fruits</li>
				          	<li>100%Fruit Juice</li>
                            </ul>
				         <li><h4>Vegetables</h4></li>
				         <p>Vegetables group is here!</p>
				            <ul>
				          	<li>Dark Green Vegetables</li>
				          	<li>Starchy vegetables</li>
				          	<li>Red and Orange Vegetables</li>
				          	<li>Beans and Peas</li>
				          	<li>Other Vegetables</li>
                            </ul>
				         <li><h4>Grains</h4></li>
				         <p>Remember to eat these grains!!</p>
				            <ul>
				          	<li>Whole grains</li>
				          	<li>Refined grains</li>
				          	<li>Pastas</li>
				          	<li>Ready to eat bread</li>
				            </ul>
				         <li><h4>Protein Foods</h4></li>
				         <p>These protiens are essential!!</p>
				            <ul>
				            <li>Meats</li>
				          	<li>Poultry</li>
				          	<li>Eggs</li>
				          	<li>Beans and Peas</li>
				          	<li>Processed soy Products</li>
				            <li>Nuts and Seeds</li>
				          	<li>Seafood</li>
				           </ul>
				         <li><h4>Diary</h4></li>
				         <p>These are healthy Diary food group</p>
				            <ul>
				            <li>Milk</li>
				          	<li>Milk based deserts</li>
				          	<li>Calcium-fortified soymilk</li>
				          	<li>Cheese</li>
				          	<li>Yogurt</li>
				           </ul>
				     </ol>
				 </td>    
               </tr>
               </table>
            </div>
		</body>
</html>