<!DOCTYPE html>
<html>
	<head>
		<title> Food </title>
		<link rel="stylesheet" type="text/css" href="../css/web2.css">

	</head>
	<body class="web2-body">
	<div class="web2-div">
	<form class="web2-form">
		 <h1>
			Benefits of each food group
		 </h1>
		
		     <h2>Fruits</h2>
		         <h3>How much fruit is needed daily?</h3>
		             <p>The amount of fruit you need to eat depends on age, sex, and level of physical activity. Recommended daily amounts are shown in this chart.</p>
		         <h3>What counts as a cup of fruit?</h3>
		             <p>In general 1 cup fruit or 100% fruit juice or 1/2 cup of dried fruit can be considered as 1 cup from the fruit group.</p>
		 

		     <h2>Vegetables</h2>
		         <h3>How many vegetables are needed?</h3> 
		             <p>The amount of fruit you need to eat depends on age, sex, and level of physical activity. Recommended daily amounts are shown in this chart</p> 
		         <h3>What counts as a cup of fruit?</h3>
		              <p>In general 1 cup rawor cookedvegetables or vegetable juice,or 2 cups of raw leafy greens can be considered as 1 cup from the vegetable group.</p>
		     
		     <h2>Grains</h2>
		         <h3>How manygrain foods are needed daily?</h3>
		             <p>The amount of grains you need to eat depends on your age, sex, and level of physical activity. Recommended daily amounts are listed in this chart. Most Americans consume enough grains, but few are whole grains. At least half of all the grains eaten should be whole grains.</p>  
		         <h3>What counts as an ounce equivalent of grains?</h3>
		             <p>In general, 1 slice of bread, 1 cup of ready-to-eat cereal, or 1/2cup of cooked rice, cooked pasta, or cooked cereal can be considered as 1 ounce equivalent from the Grains Group.</p>  


		      <h2>Protien Foods</h2>  
		          <h3>What foods are in the protien foods group?</h3> 
		             <p>All foods made from meat, poultry, seafood, beans and peas, eggs, processed soy products, nuts, and seeds are considered part of the Protein Foods Group. Beans and peas are also part of the Vegetable Group. For more information on beans and peas, see Beans and Peas Are Unique Foods.</p>

                     <p>Select a variety of protein foods to improve nutrient intake and health benefits, including at least 8 ounces of cooked seafood per week. Young children need less, depending on their age and calorie needs. The advice to consume seafood does not apply to vegetarians. Vegetarian options in the Protein Foods Group include beans and peas, processed soy products, and nuts and seeds. Meat and poultry choices should be lean or low-fat.</p>
                     
              </form>    
		 </div>

      </body>

 </html>