<!DOCTYPE html>
<html>
<head>
	<title> Varshu Birthday!!</title>
	<style type="text/css">
		.bb-list-items{
			color:red;
		}
		.bb-list-items li{
			list-style-type: square;
		}
		.bb-list-items2 li{
			list-style-type:lower-greek;
			display: none;
		}
		.bb-list-items3 li{
			color:blue;
			list-style-type: none;
			display: inline;

		}
		.bb-list-items3 li:hover{
			border-bottom: 2px solid red;
			cursor: pointer;
		}
		.BB-DIV{
			border: 2px solid red;
			max-width: 300px;
		}
		.bb-list-items li:nth-child(4){
			color:blue;
		}
	</style>
</head>
<body>
	<ul class="bb-list-items">
		<li>list item 1</li>
		<li>list item 2 </li>
		<li>list item 3 </li>
		<li>list item 4 </li>
	</ul>
	<!-- <ul class="bb-list-items2">
		<li>list item 1</li>
		<li>list item 2</li>
		<li>list item 3</li>
		<li>list item 4</li>
	</ul>
	<ul class="bb-list-items3">
		<li><li><a href="http://www.microsoft.com/en-in/default.aspx" target="blank">list item 1</a></li></li>
		<li>list item 2 |</li>
		<li>list item 3 |</li>
		<li>list item 4 </li>
	</ul>
	<div>
		<div class="BB-DIV">position static position static position static position static</div>
	</div> -->
</body>
</html>