<!DOCTYPE html>
<html>
<head>
<style> 
div {
    border: 2px solid;
    padding: 10px 40px; 
    width: 100px;
    height:200px;
    overflow: hidden;
    float:left;
}
</style>
</head>
<body>

<p><b>Note:</b> Internet Explorer and Opera do not support the resize property.</p>

<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>
<div>ggggsssssssssssssssssssssssssss  ssssssssssssssssfffffffffffffffffffffffThe resize property specifies whether or not an element is resizable by the user.</div>

</body>
</html>
