<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
  /* Styles go here */

/* Styles go here */

.styled-select{
   text-align: center;
    width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(images/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
}
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;

   }
  
</style>
<body>
        <div class="styled-select">
            <select>
                <option>Here is the first option</option>
                <option>The second option</option>
            </select>
        </div>
</body>

</html>
