.paragraphclass{
	    	 color:#31A0A0;
	    	 font-size:30px;
	    	 border:1px dotted green;
/*	    
			padding-top:20px;
			padding-right:20px;	 
	    	 padding-bottom:20px;
	    	 padding-left:20px;
	    	 */
	    	 /*padding:20px 20px 20px 20px;*/
	    	 /*padding: 20px;*/
	    	 padding: 20px 90px;
	    	 width:300px;
	    	 margin-top:80px;
	    	 margin-right:30px;
	    	 margin-bottom:30px;
	    	 margin-left:100px;
	    	 text-transform:lowercase;
	    	 background: blue;

	    }
	    .para2{
	    	color:blue;
	    }
	    #someidname{
	    	color:yellow;
	    }
