.bday-body{
	color:green;
	margin:none;
	width: 48%;
	height: 30%;
    
    border-spacing: 10%;
	border:solid purple;
	text-align: left;
	background-color:white; 
	border:10%; 
	
     }
.b-bday{
	 width: 100%;
	 height: 852px;
	 padding:1px;
	 background-color: purple;
	 background-image: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/1549502_603058759769756_509266539_n.jpg?oh=2a5fccecf3f5433ca2a922c13af5b47b&oe=5528E6FF&__gda__=1433263918_d0fbb4dcb017c81ad9f194ef7cb076f4');
	 
	 }

  .v-bday{
  	text-shadow:2px 2px blue;
  	text-align: center;
  }
  .rhyme{
  	font-size: 30px;
  	color: blue;
	font-style: italic;
	text-align: right;
	text-shadow: white 2px 2px;
   }
   .head{
   	 font-size: 30px;
   	 color:blue;
   	 font-style: italic;
   	 text-shadow:white 2px 2px;
   }
   h2{
   	font-size: 25px;
	color: blue;
	text-shadow: white 2px 2px;
   }
   img{
   	display: right;
   	min-width: 2px;
   	min-height: 2px;
   }