.bday-body{
	color:green;
	margin:none;
	width: 50%;
	height: 30%;
    padding: 20px;
    border-spacing: 10%;
	border:solid purple;
	text-align: left;
	background-color: pink; 
	border:10%; 
	bo
     }
.b-bday{
	 width: 100%;
	 height: 100%;
	 padding:1px;
	 background-color: purple;
	 background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/994934_541228039286162_671747707_n.jpg?oh=5e542bd178bf3026e0efeedd42a8704e&oe=5525D0A3&__gda__=1429343258_e68bfc5c354bab4dec4d6c42fadb7ab5');
	 }
  .v-bday{
  	text-shadow:2px 2px blue;
  }