.email-body{
	         background-color: #00FFFF;

            }
 .email-form{
 	         background-color: #C0C0C0;
 	         width: 20%;
 	         height: 20%;
 	         padding-left: 2px;
 	         padding-right: 2px;
 	         padding-bottom: 2px;
 	         padding-top: 2px;
 	         float: center;
 	         text-align: center;

             }  
 textarea   {
 	         color:#FFFFFF;
 	         background-color: #72A4D2;
 	         border-radius: 10px;

             }

#button_a {
             color: #FFFFFF;
             background-color: #72A4D2;
             border-radius: 9px;
             border-spacing: 2px;
             }
 h1          {
 	          font-size: medium;

             }            

